html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

@keyframes down {
	from {
		transform: translateY(-200px);
		opacity: 0;
	}

	to {
		transform: translateY(100px);
		opacity: 1;
	}
}

@keyframes up {
	from {
		transform: translateY(400px);
		opacity: 0;
	}

	to {
		transform: translateY(100px);
		opacity: 1;
	}
}

/* //////////////////////////////////////////////////////////////// */

.bar {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.infos {
	display: flex;
	margin-left: 1em;
}

.info {
	margin-right: 1em;
	display: flex;
	align-items: center;
}

.info img {
	margin-right: .4em;
}

.bar button {
	background-color: red;
	border: none;
	color: white;
	padding: 1em;
	cursor: pointer;
	transition: all .3s;
}

.bar button:hover {
	background-color: brown;
}

.navbar {
	display: flex;
	margin: 1em;
	align-items: center;
	justify-content: space-between;
}

.logo {
	height: 80px;
}

.navbar ul {
	display: flex;
}

.navbar li {
	margin-left: 1em;
}

.navbar a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.hero {
	background-color: silver;
	height: 800px;
	background-image: url(img/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero span {
	position: relative;
	display: block;
	background-color: red;
	outline: solid 2em rgba(255,255,255,0.2);
	height: 500px;
	width: 500px;
	border-radius: 100%;
	animation: 1.2s forwards ease-in-out down;
	z-index: 0;
	margin-left: 3em;
}

.hero span h1 {
	color: white;
	position: absolute;
	bottom: 250px;
	left: 100px;
	width: 600px;
	font-weight: bold;
	font-size: 4em;
	animation: .9s forwards ease-in up;
	animation-delay: .3s;
	opacity: 0;
}
