html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

@keyframes down {
	from {
		transform: translateY(-200px);
		opacity: 0;
	}

	to {
		transform: translateY(100px);
		opacity: 1;
	}
}

@keyframes up {
	from {
		transform: translateY(400px);
		opacity: 0;
	}

	to {
		transform: translateY(100px);
		opacity: 1;
	}
}

/* //////////////////////////////////////////////////////////////// */

.container {
	max-width: 1024px;
	margin: 10em auto;
	position: relative;
}

@media only screen and (max-width: 900px) {
	.container,
	.container-lite {
		padding: 0 1em;
		margin: 6em auto;
		flex-direction: column;
	}
}

.container-lite {
	max-width: 1024px;
	margin: 4em auto;
}

.bar {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.infos {
	display: flex;
	margin-left: 1em;
}

.info {
	margin-right: 1em;
	display: flex;
	align-items: center;
}

.info img {
	margin-right: .4em;
}

.info a {
	color: white;
}

.info a span {
	display: inline;
}

@media only screen and (max-width: 900px) {
	.info a span {
		display: none;
	}
}

.bar button {
	background-color: red;
	border: none;
	color: white;
	padding: 1em;
	cursor: pointer;
	transition: all .3s;
}

.bar button:hover {
	background-color: brown;
}

nav {
	display: block;
}

.bar button a {
	color: white;
	text-decoration: none;
}

.navbar {
	display: flex;
	margin: 1em;
	align-items: center;
	justify-content: space-between;
}

.logo {
	height: 80px;
}

.navbar ul {
	display: flex;
}

.navbar li {
	margin-left: 1em;
}

.navbar a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.map {
	height: 1.6em;
	margin-right: 1em;
}

.address {
	display: inline;
}

@media only screen and (max-width: 900px) {
	.navbar {
		justify-content: space-between;
		margin: .4em;
	}

	.navbar .logo {
		height: 50px;
	}
	.address {
		display: none;
	}
}

.hero {
	background-color: silver;
	height: 800px;
	background-image: url(img/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (max-width: 1400px) {
	.hero {
		height: 700px;
	}
}

@media only screen and (max-width: 1200px) {
	.hero {
		height: 600px;
	}
}

.hero span {
	position: relative;
	display: block;
	background-color: red;
	outline: solid 2em rgba(255,255,255,0.2);
	height: 500px;
	width: 500px;
	border-radius: 100%;
	animation: 1s forwards down;
}

@media only screen and (max-width: 1200px) {
	.hero span {
		height: 400px;
		width: 400px;
	}
}

@media only screen and (max-width: 900px) {
	.hero span {
		height: 280px;
		width: 280px;
	}
}

.hero span h1 {
	color: white;
	position: absolute;
	top: 0;
	left: 100px;
	width: 550px;
	font-weight: bold;
	font-size: 4em;
	animation: .9s forwards up;
	animation-delay: .3s;
	opacity: 0;
}

@media only screen and (max-width: 1200px) {
	.hero span h1 {
		font-size: 3em;
		width: 450px;
	}
}

.hero span button {
	color: white;
	position: absolute;
	top: 250px;
	left: 100px;
	border: 0;
	background-color: black;
	padding: 1em 2em;
	animation: .9s forwards up;
	animation-delay: .9s;
	opacity: 0;
	font-size: 1em;
	cursor: pointer;
	transition: .3s;
}

@media only screen and (max-width: 1200px) {
	.hero span button {
		top: 200px;
	}
}

@media only screen and (max-width: 900px) {
	.hero span button {
		top: 130px;
		left: 30px;
		font-size: .8em;
		padding: .6em .8em;
	}
}

.hero span button:hover {
	background-color: #222;
}

.box {
	margin-left: 320px;
}

@media only screen and (max-width: 1900px) {
	.box {
		margin-left: 120px;
	}
}

@media only screen and (max-width: 1400px) {
	.box {
		margin-left: 80px;
	}
}

@media only screen and (max-width: 900px) {
	.box,
	.box span {
		margin: 0 auto;
	}

	.box span {
		bottom: -162px;
	}

	.hero span h1 {
		font-size: 2em;
		width: 280px;
		left: 30px;
	}
}

.box a {
	color: white;
	text-decoration: none;
}

main {
	display: flex;
}

.intro {
	margin: 1em;
	position: relative;
	flex: 2;
	background-image: url(img/dots.png);
	display: flex;
	justify-content: flex-end;
}

.intro img {
	height: 400px;
	margin-top: 40px;
}

.intro span {
	position: absolute;
	bottom: -30px;
	right: -30px;
	height: 180px;
	width: 180px;
	background-color: silver;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	border-bottom: solid 6px red;
}

@media only screen and (max-width: 900px) {
	.intro span {
		right: -10px;
	}
}

.about {
	flex: 3;
	padding-left: 3em;
}

@media only screen and (max-width: 900px) {
	.about {
		margin-top: 4em;
		padding-left: 1em;
	}
}

.about p {
	line-height: 1.6;
	font-size: 1.2em;
}

.subtitle {
	font-weight: bold;
	color: red;
	font-size: 2em;
}

.title {
	font-weight: bold;
	font-size: 3em;
}

.about p {
	margin-top: 2em;
}

.services {
	text-align: center;
	background-image: url(img/bg-dot.png);
}

.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4em auto;
	flex-wrap: wrap;
}

.card {
	text-align: left;
	height: 300px;
	border: solid 1px silver;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em;
	margin: 1em;
	flex: 2;
	min-width: 400px;
}

@media only screen and (max-width: 900px) {
	.card {
		min-width: 300px;
	}
}

.card img {
	height: 50px;
}

.services h3 {
	font-weight: bold;
	font-size: 1.4em;
}

.services p {
	font-size: 1.2em;
}

.testimonials {
	background-image: url(img/testimonials.png);
	background-size: cover;
	color: white;
	padding: 2em;
	text-align: center;
}

.testimonials h1 {
	font-weight: bold;
	font-size: 2em;
}

.testimonials h2 {
	font-weight: bold;
	font-size: 3em;
}

.testimonials h3 {
	color: red;
}

.testimonials span {
	height: 1px;
	background-color: silver;
	width: 300px;
}

.testimonials .card {
	position: relative;
	background-color: white;
	color: black;
	z-index: 3;
	margin: 3em;
}

@media only screen and (max-width: 900px) {
	.testimonials .card {
		margin: 4em auto;
		height: 320px;
	}

	.testimonials .card span {
		width: 240px;
	}

	.testimonials .cards {
		margin: 2em auto;
		justify-content: flex-start;
	}

	.testimonials .card h3 {
		padding-bottom: 1em;
	}

	.testimonials .card p {
		margin-top: 1em;
	}
}

.avatar {
	border-radius: 100%;
	height: 100px;
}

.quote {
	margin-top: 1em;
	width: 50px;
}

.testimonials .card:before {
	content: '';
	position: absolute;
	left: -30px;
	height: 320px;
	background-color: red;
	width: 30px;
	z-index: -1;
}

.footer {
	background-color: silver;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-info {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px gray;
	padding: 0 0 4em 0;
}

@media only screen and (max-width: 1100px) {
.footer-info {
		padding: 0 1em 4em;
	}
}

@media only screen and (max-width: 900px) {
	.footer-info {
		padding: 0 0 4em 0;
	}
}

.footer-info article {
	width: 300px;
}

.footer-info img {
	height: 80px;
}

.footer-info h4 {
	font-weight: bold;
	font-size: 1.2em;
}

.contact {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

@media only screen and (max-width: 900px) {
	.contact {
		flex-direction: column;
		align-items: flex-start;
	}
	.contact p {
		margin-bottom: 2em;
	}
}

.contact span {
	font-weight: bold;
	font-size: 1.2em;
}

.contact p {
	margin-top: .6em;
}

.bottom {
	background-color: black;
	color: white;
	text-align: center;
	padding: 2em
}
