html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

@keyframes down {
	from {
		transform: translateY(-200px);
		opacity: 0;
	}

	to {
		transform: translateY(100px);
		opacity: 1;
	}
}

@keyframes up {
	from {
		transform: translateY(400px);
		opacity: 0;
	}

	to {
		transform: translateY(100px);
		opacity: 1;
	}
}

/* //////////////////////////////////////////////////////////////// */

.container {
	max-width: 1024px;
	margin: 10em auto;
}

.bar {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.infos {
	display: flex;
	margin-left: 1em;
}

.info {
	margin-right: 1em;
	display: flex;
	align-items: center;
}

.info img {
	margin-right: .4em;
}

.bar button {
	background-color: red;
	border: none;
	color: white;
	padding: 1em;
	cursor: pointer;
	transition: all .3s;
}

.bar button:hover {
	background-color: brown;
}

.navbar {
	display: flex;
	margin: 1em;
	align-items: center;
	justify-content: space-between;
}

.logo {
	height: 80px;
}

.navbar ul {
	display: flex;
}

.navbar li {
	margin-left: 1em;
}

.navbar a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.hero {
	background-color: silver;
	height: 800px;
	background-image: url(img/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero span {
	position: relative;
	display: block;
	background-color: red;
	outline: solid 2em rgba(255,255,255,0.2);
	height: 500px;
	width: 500px;
	border-radius: 100%;
	animation: 1s forwards down;
	margin-left: 3em;
}

.hero span h1 {
	color: white;
	position: absolute;
	bottom: 200px;
	left: 100px;
	width: 600px;
	font-weight: bold;
	font-size: 4em;
	animation: .9s forwards up;
	animation-delay: .3s;
	opacity: 0;
}

main {
	display: flex;
}

.intro {
	margin: 1em;
	position: relative;
	flex: 2;
	background-image: url(img/dots.png);
	display: flex;
	justify-content: flex-end;
}

.intro img {
	height: 400px;
}

.intro span {
	position: absolute;
	bottom: -30px;
	right: -30px;
	height: 180px;
	width: 180px;
	background-color: silver;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	border-bottom: solid 6px red;
}

.about {
	flex: 3;
	padding-left: 3em;
}

.subtitle {
	font-weight: bold;
	color: red;
	font-size: 2em;
}

.title {
	font-weight: bold;
	font-size: 3em;
}

.about p {
	margin-top: 2em;
}

.services {
	text-align: center;
	background-image: url(img/bg-dot.png);
}

.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4em auto;
	flex-wrap: wrap;
}

.card {
	text-align: left;
	height: 300px;
	border: solid 1px silver;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em;
	margin: 1em;
	flex: 2;
	min-width: 400px;
}

.card img {
	height: 50px;
}

.testimonials {
	background-image: url(img/testimonials.png);
	background-size: cover;
	color: white;
	padding: 2em;
	text-align: center;
}

.testimonials h1 {
	font-weight: bold;
	font-size: 2em;
}

.testimonials h2 {
	font-weight: bold;
	font-size: 3em;
}

.testimonials .card {
	position: relative;
	background-color: white;
	color: black;
	z-index: 3;
	margin: 3em;
}

.testimonials .card img {
	border-radius: 100%;
	height: 100px;
}

.testimonials .card:before {
	content: '';
	position: absolute;
	left: -20px;
	height: 320px;
	background-color: red;
	width: 20px;
	z-index: -1;
}
